:root {
  --bg-color: #fafafa;
  --text-color: red;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

html.dark {
  --bg-color: #242424;
}

.formkit-kitchen-sink {
  width: 100%;
  max-width: 1400px;
}
.formkit-input-type {
  display: block;
  font-size: 2em;
  font-family: sans-serif;
  margin-bottom: 0.25em;
  font-weight: bold;
  text-transform: capitalize;
  color: #000;
}
.formkit-specimen-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  margin-bottom: 3em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 2em;
}
.formkit-specimen {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
